<!DOCTYPE html>
<html>
<head>
  <title>Waratah Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/keen-dashboards.css" />
  <script type="text/javascript" src="/static/crossfilter.js"></script>
  <script src="/static/d3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/dc.css" media="screen" /> 
  <script src="/static/dc.js" type="text/javascript"></script>
  
  <link rel="stylesheet" type="text/css" href="/static/jquery.dataTables.min.css" />
  <script src="/static/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="/static/jquery.dataTables.min.js" type="text/javascript"></script>
  
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="/static/keen.min.js"></script>
  <script type="text/javascript" src="/static/meta.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/rotateXaxisLabelsLHR.css" media="screen" />
  
</head>
<body class="application">


  <div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Waratah Train - 50 Hz Detection Dashboard by Luis Rico. Oct 2015</a>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            All Detections Counter
          </div>
		  
          <div class="chart-stage">
			<div id="line-chart" >
				<a href="javascript:lineChart.filterAll();rangeChart.filterAll();stackedBarChart.filterAll();dc.redrawAll();">reset</a>   <!-- stackedBarChart is including to solve a weird effect on the stacked chart -->
			</div>
			<div id="range-chart"></div>
          </div>
		  
          <div class="chart-notes">
            Line chart
          </div>
        </div>
      </div>
	  
	  <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Top 10 Locations
          </div>
          <div class="chart-stage">
            <div id="row-chart" >
				<a href="javascript:locationRowChart.filterAll();dc.redrawAll();">reset</a>
			</div>
          </div>
          <div class="chart-notes">
            Row chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Year filter
          </div>
          <div class="chart-stage">
            <div id="ring-chart" >
				<a href="javascript:yearRingChart.filterAll();dc.redrawAll();">reset</a>
			</div>
          </div>
          <div class="chart-notes">
            Ring chart
          </div>
        </div>
      </div>
	  
	  
		<div class="dc-data-count" style="float: right;">
				
				<span>  
				<span class="filter-count"></span>
				selected out of
				<span class="total-count"></span>
				records |
					<a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
				</span>
				
		</div>
	  
	  

    </div>

    <div class="row">
	  
	  <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Detections by Set
          </div>
          <div class="chart-stage my-bar-chart">
			<div id="Bar-chart" >
				 <button type="button" onclick="javascript:stackedBarChart.filterAll();setDimLHR2.filter(function (d) { return d === 'A14' ; });dc.redrawAll();">Modified</button>
				 <button type="button" onclick="javascript:stackedBarChart.filterAll();setDimLHR.filter(function (d) { return d === 'A14' || d === 'A22' || d === 'A23' || d === 'A33' || d === 'A52' || d === 'A58' || d === 'A59' || d === 'A62' || d === 'A65'; });dc.redrawAll();">Un-Modified</button>
				<a href="javascript:stackedBarChart.filterAll();dc.redrawAll();">reset</a>
			</div>
          </div>
          <div class="chart-notes">
            Bar chart
          </div>
        </div>
      </div>

    </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

<script>

// File Data Mart - 50Hz detection v0.7 SM.xlsx sent by Shannon Meissner on Mon 19 Oct 2015 10:57AM
// Workbook DataMart RawData 0Kph removed converted into Data Mart - 50Hz detection v0.7 SM.tsv		
	d3.tsv("/static/Data Mart - 50Hz detection v0.7 SM.tsv", function (data) {
		
// Everything is imported as a string by default. Numeric column in read data must be converter to numeric
// However, the spreadsheet 50 Hz does not contain any data that should be converted. Left in here for reference				
		var convert_2_int = function() {
			var max_length = data.length; 
				for (var i=0; i < max_length; i++) {
					data[i]["Num_Faults"] = parseInt(data[i]["Num_Faults"]);
				}
		}
		convert_2_int();

// Date format needs to be parsed and and the same time, an aggregate field can be processed

		var parseDate = d3.time.format("%d/%m/%Y").parse;  // LHR this is a function expression
			data.forEach(function(d) {		// LHR d only exists whilst forEach is being executed.
			d.Detection_Date = parseDate(d.Date);
			d.Year=d.Detection_Date.getFullYear();
			d.DetectionInstance = 1;
		});
		
var ndx = crossfilter(data);

var all = ndx.groupAll();

// count all the detections
		dc.dataCount(".dc-data-count")
			.dimension(ndx)
			.group(all);	

// Line chart code
			
		var dateDim = ndx.dimension(function(d) {return d.Detection_Date;}); 
		
		var minDate = dateDim.bottom(1)[0].Detection_Date;
		var maxDate = dateDim.top(1)[0].Detection_Date;
		
		lineChart  = dc.lineChart("#line-chart");   // Note that 'var' has been removed in order to be able to reset chart
													// Full explanation in http://stackoverflow.com/questions/21550270/dc-js-unable-to-redraw-charts (see jfiddle)
													
		rangeChart = dc.barChart('#range-chart');	// Note that 'var' has been removed in order to be able to reset chart
		
		var Detection_Count=dateDim.group().reduceSum(function(d)
			{return d.DetectionInstance;} );
			
		var tooltipDateFormat = d3.time.format("%a %e %b %Y");
		
		lineChart                       
			.width(750).height(205)
			.dimension(dateDim)
			.group(Detection_Count)
			.renderArea(true)
			.renderHorizontalGridLines(true)
			.renderVerticalGridLines(true)
			.x(d3.time.scale().domain([minDate,maxDate])) 
			.brushOn(false)
			.title(function(d){						// tooltips are shown by using the title function. Also, brushOn must be set to false
			  return tooltipDateFormat(d.data.key) + "\nNumber of Detections: " + d.data.value; })  // Note that data, key and value are reserved words for the function and do not correspond to fields in the imported data
			//.legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))
			.elasticY(true)
			.rangeChart(rangeChart)
			.yAxisLabel("Detection Count");
			
		rangeChart
		    .width(750).height(70)
			//.margins({top: 0, right: 0, bottom: 20, left: 0})
			.dimension(dateDim)
			.group(Detection_Count)
			.renderHorizontalGridLines(true)
			.renderVerticalGridLines(true)
			//.centerBar(true)
			//.gap(1)
			.x(d3.time.scale().domain([minDate,maxDate]))
			//.filter([minDate,maxDate])              // This is not working, but I would like to show the handles of the range selector to make it more intuitive
			//.round(d3.time.month.round)
			//.xUnits(d3.time.months)
			.yAxisLabel("")       // This is to blank out the yAxis labels
			.yAxis().tickFormat(function(v) { return ""; });  // This is to blank out the yAxis scale
			
// Row chart code

		locationRowChart = dc.rowChart("#row-chart");		// Note that 'var' has been removed in order to be able to reset chart
		var locationDimension = ndx.dimension(function(d) {return d["Nearest Train Station"];});
		var locationGroup = locationDimension.group();
		
		locationGroupRow = locationGroup.reduceSum(function(d) {return d.DetectionInstance;});

		var filtered_group = filter_top(locationGroupRow);
		function filter_top(locationGroupRow) {
		  return {
			all:function () {
				return locationGroupRow.top(10);
				}
			}
		 }
			
	    locationRowChart
			.width(280)
			.height(300)
			.margins({top: 20, left: 10, right: 10, bottom: 20})
			.dimension(locationDimension)
			.group(filtered_group)
			.ordering(function(d) {return -d.value})
			.title(function (d) {
				return d.value;
			})
			.elasticX(true)
			.xAxis().ticks(5);

// Ring chart code
			
		yearRingChart   = dc.pieChart("#ring-chart");			// Note that 'var' has been removed in order to be able to reset chart
		var yearDim  = ndx.dimension(function(d) {return +d.Year;});
		var year_total = yearDim.group().reduceSum(function(d) {return d.DetectionInstance;});

		yearRingChart
			.width(150).height(150)
			.dimension(yearDim)
			.group(year_total)
			.innerRadius(30);
			

// Bar chart code
	
	var setDim = ndx.dimension(function (d) { return d["A-set"]; });
	
	// It MUST be noted that a second dimension must be created for a filter to work
	// read http://stackoverflow.com/questions/24171662/crossfilter-filters-not-filtering-dc-js for more details
	setDimLHR = ndx.dimension(function (d) { return d["A-set"]; });
	//setDimLHR.filter(function (d) { return d === 'A14' || d === 'A22' || d === 'A23' || d === 'A33' || d === 'A52' || d === 'A58' || d === 'A59' || d === 'A62' || d === 'A65'; });
	
	setDimLHR2 = ndx.dimension(function (d) { return d["A-set"]; });
	//setDimLHR2.filter(function (d) { return d === 'A14' ; });
	
	var Detection_Count_per_Set = setDim.group().reduceSum(function(d)
			{return d.DetectionInstance;} );
	
	stackedBarChart = dc.barChart("#Bar-chart");		// Note that 'var' has been removed in order to be able to reset chart

	stackedBarChart
		.width(1600)
        .height(270)
		.dimension(setDim)
		.group(Detection_Count_per_Set)
		.renderHorizontalGridLines(true)
		.x(d3.scale.ordinal())
		.xUnits(dc.units.ordinal)
		//.ordering(function(d) { return -d.value })
		//.sortBy(['A1','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16','A17','A18','A19','A20','A21','A22','A23','A24','A25','A26','A27','A28','A29','A30','A31','A32','A33','A34','A35','A36','A37','A38','A39','A40','A41','A42','A43','A44','A45','A46','A47','A48','A49','A50','A51','A52','A53','A54','A55','A56','A57','A58','A59','A60','A61','A62','A63','A64','A65','A66','A67','A68','A69','A70','A71','A72','A73','A74','A75','A76','A77','A78','A80'])
		// http://jsfiddle.net/enigmarm/3HL4a/13/ for sorting reference
		.elasticY(true)
		//.xAxisLabel("Waratah Set Number")
		.yAxisLabel("Detection Count")
		.xAxisPadding(500);
	
	stackedBarChart.on("postRender", function (c) {
        d3.selectAll('#Bar-chart .axis.x text').style("text-anchor", "end").attr("transform", function (d) { return "rotate(-45, -4, 9) "; });
    });
	
	
	
	dc.renderAll();
		
	// Related to this work:
	// Best reference to add date range filter to line chart https://github.com/TomNeyland/angular-dc/issues/15
	// and http://www.techsfo.com/blog/2013/08/focus-context-bar-chart-in-javascript/
	
	// Nice to have
	// Heat map reference http://ramblings.mcpher.com/Home/excelquirks/d3/dceuro
	// Crossfilter tutorial http://blog.rusty.io/2012/09/17/crossfilter-tutorial/
	// Reduction library https://www.npmjs.com/package/reductio
	// Explaining grouping http://www.helptouser.com/code/19237211-dc-js-render-bar-chart.html
	// Another great dashboard http://edouard-legoupil.github.io/3W-Dashboard/#sector=&status=&org=&map=
	
	});

 </script> 
  
</body>

</html>
