<!DOCTYPE html>
<html>
<head>
  <title>Waratah Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/keen-dashboards.css" />
  <script type="text/javascript" src="/static/crossfilter.js"></script>
  <script src="/static/d3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/dc.css" media="screen" /> 
  <script src="/static/dc.js" type="text/javascript"></script>
  
  <link rel="stylesheet" type="text/css" href="/static/jquery.dataTables.min.css" />
  <script src="/static/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="/static/jquery.dataTables.min.js" type="text/javascript"></script>
  
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="/static/keen.min.js"></script>
  <script type="text/javascript" src="/static/meta.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/rotateXaxisLabelsLHR.css" media="screen" />
  
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Waratah Train - 50 Hz Detection Dashboard by Luis Rico. Oct 2015</a>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            All Detections Counter
          </div>
          <div class="chart-stage">
			<div id="line-chart" ></div>
          </div>
          <div class="chart-notes">
            Line chart
          </div>
        </div>
      </div>
	  
	  <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Top 10 Locations
          </div>
          <div class="chart-stage">
            <div id="row-chart" ></div>
          </div>
          <div class="chart-notes">
            Row chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Year filter
          </div>
          <div class="chart-stage">
            <div id="ring-chart" ></div>
          </div>
          <div class="chart-notes">
            Ring chart
          </div>
        </div>
      </div>

    </div>

    <div class="row">
	  
	  <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Detections by Set
          </div>
          <div class="chart-stage my-bar-chart">
			<div id="Bar-chart" ></div>
          </div>
          <div class="chart-notes">
            Stack chart
          </div>
        </div>
      </div>

    </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

<script>

// File Data Mart - 50Hz detection v0.7 SM.xlsx sent by Shannon Meissner on Mon 19 Oct 2015 10:57AM
// Workbook DataMart RawData 0Kph removed converted into Data Mart - 50Hz detection v0.7 SM.tsv		
	d3.tsv("/static/Data Mart - 50Hz detection v0.7 SM.tsv", function (data) {
		
// Everything is imported as a string by default. Numeric column in read data must be converter to numeric
// However, the spreadsheet 50 Hz does not contain any data that should be converted. Left in here for reference				
		var convert_2_int = function() {
			var max_length = data.length; 
				for (var i=0; i < max_length; i++) {
					data[i]["Num_Faults"] = parseInt(data[i]["Num_Faults"]);
				}
		}
		convert_2_int();

// Date format needs to be parsed and and the same time, an aggregate field can be processed

		var parseDate = d3.time.format("%d/%m/%Y").parse;  // LHR this is a function expression
			data.forEach(function(d) {		// LHR d only exists whilst forEach is being executed.
			//d.Fault_Reported_Date = parseDate(d.Fault_Reported_Date);
			d.Detection_Date = parseDate(d.Date);
			d.Year=d.Detection_Date.getFullYear();
			d.DetectionInstance = 1;
		});
		
var ndx = crossfilter(data);			

// Line chart code
			
		var dateDim = ndx.dimension(function(d) {return d.Detection_Date;}); 
		
		var minDate = dateDim.bottom(1)[0].Detection_Date;
		var maxDate = dateDim.top(1)[0].Detection_Date;
		
		var lineChart  = dc.lineChart("#line-chart");
		
		var Detection_Count=dateDim.group().reduceSum(function(d)
			{return d.DetectionInstance;} );
		
		lineChart                       
			.width(750).height(320)
			.dimension(dateDim)
			.group(Detection_Count)
			.renderArea(true)
			.renderHorizontalGridLines(true)
			.renderVerticalGridLines(true)
			.x(d3.time.scale().domain([minDate,maxDate])) 
			.brushOn(false)
			.title(function(d){      // tooltips are shown by using the title function. Also, brushOn must be set to false
			  return tooltipDateFormat(d.data.key) + "\nNumber of Detections: " + d.data.value;  // Note that data, key and value are reserved words for the function and do not correspond to fields in the imported data
								})
			.title(function(d){
			  return d.data.value;
			  })
			.legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))
			.yAxisLabel("Detection Count");
			
// Row chart code

		var locationRowChart = dc.rowChart("#row-chart");
		var locationDimension = ndx.dimension(function(d) {return d["Nearest Train Station"];});
		var locationGroup = locationDimension.group();
		
		locationGroupRow = locationGroup.reduceSum(function(d) {return d.DetectionInstance;});

		var filtered_group = filter_top(locationGroupRow);
		function filter_top(locationGroupRow) {
		  return {
			all:function () {
				return locationGroupRow.top(10);
				}
			}
		 }
			
	    locationRowChart
			.width(280)
			.height(300)
			.margins({top: 20, left: 10, right: 10, bottom: 20})
			.dimension(locationDimension)
			.group(filtered_group)
			.ordering(function(d) {return -d.value})
			
			//.ordinalColors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
			//.colors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
			//.label(function (d) {
			//	return d.key.split('.')[1];
			//})
			
			.title(function (d) {
				return d.value;
			})
			.elasticX(false)
			.xAxis().ticks(5);

// Ring chart code
			
		var yearRingChart   = dc.pieChart("#ring-chart");
		var yearDim  = ndx.dimension(function(d) {return +d.Year;});
		var year_total = yearDim.group().reduceSum(function(d) {return d.DetectionInstance;});

		yearRingChart
			.width(150).height(150)
			.dimension(yearDim)
			.group(year_total)
			.innerRadius(30);
			
			
/*			
var ndx = crossfilter(experiments);

var stateDim = ndx.dimension(function (d) { return d.State_Name; });
var age19UnderGroup = stateDim.group().reduceSum(function (d) { return d.Age_19_Under; });
var age19To64Group = stateDim.group().reduceSum(function (d) { return d.Age_19_64; });
var age65To84Group = stateDim.group().reduceSum(function (d) { return d.Age_65_84; });
var age85AndOverGroup = stateDim.group().reduceSum(function (d) { return d.Age_85_and_Over; });

var stackedBarChart = dc.barChart("#chart-row-Poverty1");

stackedBarChart
    .dimension(stateDim)
    .group(age19UnderGroup)
    .x(d3.scale.ordinal())
    .xUnits(dc.units.ordinal)
    .stack(age19To64Group)
    .stack(age65To84Group)
    .stack(age85AndOverGroup); */

// Bar chart code
	
	var setDim = ndx.dimension(function (d) { return d["A-set"]; });
	
	
	var Detection_Count_per_Set = setDim.group().reduceSum(function(d)
			{return d.DetectionInstance;} );
	
	var stackedBarChart = dc.barChart("#Bar-chart");

	stackedBarChart
		.width(1600)
        .height(300)
		.dimension(setDim)
		.group(Detection_Count_per_Set)
		.renderHorizontalGridLines(true)
		.x(d3.scale.ordinal())
		.xUnits(dc.units.ordinal)
		.xAxisLabel("Waratah Set Number")
		.yAxisLabel("Detection Count");
		
		
		dc.renderAll();
		
	});

 </script> 
  
</body>

</html>
